body{
    border: solid 50px;
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(red,orange,yellow);
}

h1{
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline wavy;
    color: antiquewhite;
}

.grid{
    display: block;
    text-align: center;
    font-size: 2vmax;
}

h2{
    text-align: center;
    font-size: 50px;
    color: antiquewhite;
}

p{
    text-align: left;
    font-size: 30px;
    font-family: cursive;
    color: antiquewhite;
}

.item{
    border: solid;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.item h3{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover h3{
    opacity: 1.5;
}